#Recipes
public net.minecraft.world.item.crafting.ShapedRecipe result # result
public net.minecraft.world.item.crafting.ShapelessRecipe result # result
public net.minecraft.world.item.crafting.SingleItemRecipe result # result
public net.minecraft.world.item.crafting.SmithingTrimRecipe pattern # pattern
public net.minecraft.world.item.crafting.SmithingTransformRecipe result # result
public net.minecraft.world.item.crafting.ShapelessRecipe ingredients # ingredients
public net.minecraft.client.gui.screens.inventory.AbstractRecipeBookScreen recipeBookComponent # recipeBookComponent
public net.minecraft.world.item.alchemy.PotionBrewing$Mix


#Model
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent getXOrigin()I # getXOrigin
#KeyMappings
public net.minecraft.client.KeyMapping key # key
public net.minecraft.client.KeyMapping ALL # ALL
