#Recipes
public net.minecraft.world.item.crafting.ShapedRecipe result # result
public net.minecraft.world.item.crafting.ShapelessRecipe result # result
public net.minecraft.world.item.crafting.SingleItemRecipe result # result
public net.minecraft.world.item.crafting.ShapelessRecipe ingredients # ingredients
public net.minecraft.client.gui.screens.inventory.AbstractRecipeBookScreen recipeBookComponent # recipeBookComponent
public net.minecraft.world.item.alchemy.PotionBrewing$Mix

#Villager Trades
public net.minecraft.world.entity.npc.VillagerTrades$DyedArmorForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$EmeraldForItems
public net.minecraft.world.entity.npc.VillagerTrades$EmeraldsForVillagerTypeItem
public net.minecraft.world.entity.npc.VillagerTrades$EnchantBookForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$EnchantedItemForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$ItemsAndEmeraldsToItems
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$SuspiciousStewForEmerald
public net.minecraft.world.entity.npc.VillagerTrades$TippedArrowForItemsAndEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$TreasureMapForEmeralds
public net.minecraft.world.entity.npc.VillagerTrades$TypeSpecificTrade

#Model
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent getXOrigin()I # getXOrigin

#KeyMappings
public net.minecraft.client.KeyMapping key # key
